@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-mriya-dark text-white font-sans antialiased;
  /* Додамо фонові плями (світіння) пізніше, поки що просто темний фон */
  background-color: #050b14;
}

/* Кастомний клас для ефекту скла */
.glass-panel {
  @apply bg-white/5 backdrop-blur-xl border border-white/10 shadow-xl;
}

@layer utilities {
  .custom-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@media screen and (max-width: 768px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}